/*------- General Styles ----------*/

html {
  font-family: "Outfit", sans-serif;
  background-color: #d5e1ef;
  font-size: 15px;
}

h3 {
  color: #1f3251;
  font-weight: 700;
}
p {
  color: #7b879d;
}

/*------ Desktop ------*/

main {
    display: flex;
    align-items: center;
    justify-content: center;    
}


.qr-code-wrapper {
    
    background-color: #fff;
    max-width: 25%;
    border-radius: 5%;
    text-align: center;
    padding: 10px;  

}

.qr-code img {
  border-radius: 5%;
  max-width: 80%;
}




/*------Footer------*/

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}


/*@media only screen and (min-width: 375px)
@media only screen and (min-width: 1200px)